.primary-nav .primary-nav-lvl2-container>li span {
    padding: 24px 40px;
    font-size: 24px;
    color: #000;
    font-family: aktiv-grotesk;
}

.primary-nav-lvl2-container li > span {
    display: block;
    font-size: 24px;
    transition: all .3s linear;
    cursor: pointer;
}

.is-active-parent > span {
    display: block;
    background-color: #f4f6fa;
    color: #702082 !important;
    border-right: 4px solid #702082;
    font-size: 24px;
    font-weight: 700;
}

.primary-nav-lvl2-container li > span:hover {
    background-color: #f4f6fa;
    color: #702082 !important;
    border-right: 4px solid #702082;
    font-weight: 700;
    text-decoration: underline;
}

.global-search.is-ready iframe {
    height: 100vh;
}
ai12z-cta .modal-content-wrapper {
    top: 50%;
}